html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-color: #ffff;
  }
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    padding: 20px;
    transform: translate(-50%, -50%);
    background-color: #ffff;
    box-sizing: border-box;
    border: 2px solid #9EADBA;
    border-radius: 10px;
  }
  
  .login-box2 {
    position: absolute;
    top: 85%;
    left: 50%;  
    transform: translate(-50%, -50%);  
    box-sizing: border-box; 
  }

  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;   
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  } 
  
  a {    
    text-decoration: none;
  }
/* When the browser is at least 600px and above */
@media (min-width: 300px) and (max-width: 500px) {
    .login-box {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 277px;
        padding: 20px;
        transform: translate(-50%, -50%);
        background-color: #ffff;
        box-sizing: border-box;
        border: 2px solid #9EADBA;
        border-radius: 10px;
      }
  }